.idea
venv
myvenv
__pycache__
mysite-project/mysite/secret_key.txt
mysite-project/mysite/database_config.ini
/mysite-project/blog/static/admin
/mysite-project/blog/static/summernote
/mysite-project/blog/media/django-summernote
/mysite-project/geckodriver.log
