{% extends 'blog/all_base.html' %}
{% load static %}
{% load blog_extras %}

{% block searchField %}
    <form class="form-inline my-2 my-md-0" role="search" method="get" action="{% url 'blog:search' %}">
        <input class="form-control" type="text" name="q" placeholder="Search" required>
    </form>
{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'blog/img/github-4096-black.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h2>Curiosity Killed The Cat.</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    {% block blog_main %}
                    {% endblock %}
                </main>
                <aside class="col-md-4">
                    {% block toc %}
                    {% endblock %}

                    {% show_recent_posts %}
                    {% show_archives %}
                    {% show_categories %}
                    {% show_tags %}

                </aside>
            </div>
        </div>
    </div>
{% endblock %}