{% extends 'blog/all_base.html' %}
{% load static %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'blog/img/University_of_Birmingham.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Wenhan Wei</h1>
                        <span class="subheading">School of Computer Science</span>
                        <span class="subheading">University of Birmingham</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}