{% extends 'blog/all_base.html' %}
{% load static %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'blog/img/University_of_Birmingham.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Portfolio Edit</h1>
                        <span class="subheading">Think Twice!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                <!-- ******************  EDUCATION & CERTIFICATIONS ****************** -->
                <section class="Education">
                    <h2>Education</h2>
                    <hr>
                    <form method="post" action="{% url 'blog:portfolio_edu_add' %}" id="edu-edit">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <label for="{{ education_form.name_of_education.id_for_label }}">{{ education_form.name_of_education.label }}：</label>
                            {{ education_form.name_of_education }}
                            {{ education_form.name_of_education.errors }}
                        </div>
                        <br>
                        <div class="col-md-4">
                            <label for="{{ education_form.start_date_of_education.id_for_label }}">{{ education_form.start_date_of_education.label }}：</label>
                            {{ education_form.start_date_of_education }}
                            {{ education_form.start_date_of_education.errors }}
                        </div>
                        <br>
                        <div class="col-md-4">
                            <label for="{{ education_form.end_date_of_education.id_for_label }}">{{ education_form.end_date_of_education.label }}：</label>
                            {{ education_form.end_date_of_education }}
                            {{ education_form.end_date_of_education.errors }}
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label for="{{ education_form.details_of_education.id_for_label }}">{{ education_form.details_of_education.label }}：</label>
                            {{ education_form.details_of_education }}
                            {{ education_form.details_of_education.errors }}
                            <button type="submit" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </section>

            </div><!--main -->
        </div><!-- row -->
    </main><!--container -->

{% endblock %}